.postPage{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px 40px 10px 40px;
    background-color: #f3a140;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #4d4c4cce;
}
.post{
    display: flex;
    align-self: baseline;
}

.contentPost{
    margin-left: 40px;
    padding: 15px;
}

.contentPost span{
    padding: 7px;
    font-family: 'Comfortaa';
    font-size: 15px;
    font-weight: 600;
    color: #333333;
}

.post img{
    width: 100px;
    border-radius: 50px;
    /* margin-bottom: 10px; */
}

.postsForm{
    margin: 50px;
}

.textareaForm{
    width: 500px;
    height: 70px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-right: 20px;
    background-color: #fbd09c;
}

.textareaForm::placeholder{
    color: #333333;
    font-family: 'Comfortaa';
}

.btnForm{
    border: none;
    background-color: #f3a140;
    color: #333333;
    border-radius: 10px;
    font-family: 'Comfortaa';
    width: 120px;
    height: 40px;
    margin: 10px 0;
}
.btnForm:hover{
    opacity: 0.7;
}

.reactionBlock{
    margin-top: 12px;
}

.reactionBlock span{
    padding: 0 3px;
}
.reactionBlock img{
    width: 25px;
}

.reactionBlock img:hover{
    width: 26px;
}



.formPage{
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    margin: 0 30px;
}