.blogPage {
  /* position: relative; */
  padding: 25px 50px;
  background-color: #fff;
}

.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
}

.addNewPost {
  text-align: center;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #333333;
  font-family: 'DelaGothicOne';
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.title .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Расположите текст подсказки */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Исчезают в подсказке */
  opacity: 0;
  transition: opacity 0.3s;
}

.title .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.title:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
