.wrapper{
  display: grid;
  grid-template-areas: 
  'h h'
  'n c';

  grid-template-columns: 2fr 10fr;
  grid-template-rows: 100px 5fr;
  margin: 0 auto;
}





.container-wrapper{
  grid-area: c;
  background-color: rgb(184, 171, 249);
  padding: 20px;
}